p {
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5;
    /* nên dùng tương đối để sau chỉnh đỡ phải chỉnh n  */
    text-decoration: line-through underline;
    text-transform: capitalize;
    text-indent: 10px;
    text-align: justify;
}
/* text-align chỉ dùng cho VĂN BẢN inline, k dùng cho thẻ block */     
h1 {
    word-wrap: break-word;
    /* word-break: break-all; */
}
span {
    display: flex;
    justify-content: center;
}