* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ske-loading {
    width: 500px;
    height: 170px;
    border: 1px solid grey;
    background-color: rgb(174, 174, 174);
    margin: 0 auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.ske-loading::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: ske-loading 2s linear infinite;
    background: linear-gradient(120deg, transparent 0%,transparent 10%, transparent 20%, transparent 30%, transparent 40%, #ffffff2f 50%, transparent 60%, transparent 70%, transparent 80%, transparent 90%, transparent 100%);
}
.ske-loading-head {
    display: flex;
    align-items: center;

}
.ske-loading-head .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(90, 90, 90);
    margin-right: 10px;
}
.road {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 70px);
}
.road1, .road2 {
    background-color: rgb(90, 90, 90);
    height: 12px;
    flex: 1;
    padding: 10px;
}
.road1:first-child {
    width: calc(100% - 30px);
    margin-bottom: 10px;
}
.ske-loading-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.road2:last-child {
    width: calc(100% - 20px);
    margin-top: 10px;
}

@keyframes ske-loading {
    from {
        translate: -100%;
    }
    to {
        translate: 100%;
    }
}