/* Flex css = flexible box module
    là 1 kĩ thuật chia layout trong css
   Flex có 2 phần::after
    - Flex Container (thẻ bọc các item bên trong)
    - Flex Item */
/* Kích hoạt flexbox thì dùng: display:flex|inline-flex 
    Các thuộc tính trong nhóm flex container
        - display: flex
        - justify-content: căn chỉnh các item theo hướng song song trục chính
            + flex-start
            + flex-end
            + center
            + space-around
            + space-between
            + space-evenly
        - flex-direction: Điều chỉnh hướng trục chính
            + row
            + row-reverse
            + column
            + column-reverse
        - flex-warp: warp => warp các item nếu kích thước vượt quá kích thước của container
            + no-warp
            + warp
            + warp-reverse
        - align-item: căn chỉnh các item theo hướng song song với trục cross axis
        - align-content: căn chỉnh hàng or cột theo trục cross
        => nếu flex-direction: row thì nó căn chỉnh hàng, nếu là column thì nó căn chỉnh cột(trục cross-axis) => chỉ có tác dụng khi có n hàng or cột
        - gap: khoảng cách giữa ác item
*/
/* Các thuộc tính trong nhóm flex item
    - flex-grow: number (số nguyên), giá trị mặc định là 0
    - flex-shrink: number, giá trị mặc định là 1
    - flex-basis: thiết lập kích thước ban đầu của item, nếu flex-direction:row thì nó sẽ là width, nếu là flex-direction: column thì nó sẽ là height
    => sẽ bị chặn bởi min/max-width và min/max height
    min/max > basis > width/height
    - flex: grow shrink basis => cú pháp nhanh
    - order: thứ tự sắp xếp (có thể nhận giá trị âm)
    - align-self: chỉ tác dụng lên chính nó*/

* {
    padding: 0;
    margin: 0;
}
.products {
    width: 400px;
    height: 300px;
    border: 2px solid red;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    flex-direction: row-reverse;
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    /* gap: 20px; */
    /* flex-grow: 1; */
}
.products .item {
    flex-shrink: 0;
    background-color: green;
    color: white;
    border-right: 1px solid white;
    /* flex-basis: 90px; */
    flex: 0 1 80px;
}
.products .item:nth-child(1) {
    order: 4;
   
}
.products .item:nth-child(2) {
    order: 1;
}
.products .item:nth-child(3) {
    order: 2;
    
}
.products .item:nth-child(4) {
    order: 3;
    /* display: flex;
    align-items: center; */
    align-self: center;
}