// biến sẽ bắt đầu bằng dầu "$", đặt tên theo quy tắc camelCase
// vd:
$primaryColor: blue;
$secondaryColor: green;
$primaryBackgroundColor: blueviolet;
$font: Roboto, sans-serif;
:root {
    --font-size: 12px;
}