@font-face {
    font-family: "Asap";
    src: url(/F8-FT-k5/BVN-no.7/font/Asap/Asap-VariableFont_wdth\,wght.ttf);
    font-style: normal;
}
@font-face {
    font-family: "Asap";
    src: url(/F8-FT-k5/BVN-no.7/font/Asap/Asap-Italic-VariableFont_wdth\,wght.ttf);
    font-style: italic;
}
@font-face {
    font-family: "SFU";
    src: url(/F8-FT-k5/BVN-no.7/font/SFUTradeGothic-BoldCondensedTwenty.woff2);
}