@font-face {
    font-family: 'Asap';
    src: url(../font/Asap/Asap-VariableFont_wdth\,wght.ttf) format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Asap';
    src: url(../font/Asap/Asap-Italic-VariableFont_wdth\,wght.ttf) format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'SFU';
    src: url(../font/SFUTradeGothic-BoldCondensedTwenty.woff2) format('woff2');
}