.header {
    display: flex;
    background-color: #D95824;
    color: whitesmoke;
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
}
.header i {
    position: absolute;
    right: calc(100% - 25px);
    bottom: 32px;
}
.minus {
    display: none;
}
.header-content {
    display: none;
    margin-left: 10px;
}
.header:hover + .header-content{
    display: block;
}
.header:hover .cross{
    display: none;
}
.header:hover .minus {
    display: block;
}